.container{
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
}
header{
    background-color: bisque;
    width: 100%;
}
nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
li{
    margin: 0.2em;
}
#logo{
    width: 40%;
}
.upper{
    background-color: red;
    display: flex;
    width: 100%;
}

main{
    background-color: blueviolet;
    flex: 2;
}
.login{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin: 0.5em;
}
#forgot{
    align-self: flex-end;
}
.lower{
    background-color: yellow;
    display: flex;
    width: 100%
}
section{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}
aside{
    flex: 1;
}
.mp{
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.num{
    font-weight: bold;
    font-size: 2em;
    margin: 0.3em
}
article{
    flex: 50%;
}
footer{
    text-align: center;
    width: 100%;
    font-size: 2em;
}
img{
    width: 100%;
}
.mp-bar{
    display: block;
    background-image: linear-gradient(90deg, rgb(0, 133, 189) 0px, rgb(0, 161, 168) 57%, rgb(0, 189, 87));
    height: 4px;
}
.lower-bar{
    height: 2px;
}
.mp-in-bar{
    display: block;
    background-color: black;
    opacity: 0.5;
    height: 2px;
}



